*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  display: flex;
}

header h1 a {
  color: red;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 1rem;
}

.post-entry {
  margin-bottom: 2rem;
}

.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 600;
}

.post-entry h2 a:hover {
  color: red;
}
